---
profiles:
  - profile_1:
      address: "192.168.1.1"
      username: "admin"
      password: "admin"
      timeout_seconds: 5
      poe: 0
      comments:
        Port 1: Port 1
        Port 2: Port 2
        Port 3: Port 3
        Port 4: Port 4
        Port 5: Port 5
        Port 6: Core Switch
  - profile_2:
      address: "192.168.1.2"
      username: "admin"
      password: "admin"
      timeout_seconds: 5
      poe: 1
      comments:
        Port 1: Port 1
        Port 2: Port 2
        Port 3: Port 3
        Port 4: Port 4
